{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <table>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Title</th>
            <th>Change Status</th>
            <th>Delete Item</th>
          </tr>
          {% for item in items %}
          <tr>
            <td>
              {{item.id}}
            </td>
            <td>
              {{item.status}}
            </td>
            <td>
              {{item.title}}
            </td>
            <td>
              <form action="/change-status/{{item.id}}" method="POST">
                {% if item.status == "Not Started"%}
                <button>Mark as completed</button>
                {% else %}
                <button>Mark as not started</button>
                {% endif %}
              </form>
            </td>
            <td>
              <a href="/delete-item/{{item.id}}">
                <button>X</button>
              </a>
            </td>
          </tr>
          {%endfor%}
        </table>
      </ul>
    </div>
  </div>
  <a href="/add-item">
    <button>Add new to-do item</button>
  </a>
{% endblock %}